# Go
*.exe
*.exe~
*.test
*.out
*.prof
/bin/
/dist/

# Редакторы и ОС
.idea/
.vscode/
*.swp
.DS_Store
bin/
internal/artifact/embedded/artifact.l2a

# Данные персиста (дефолт P3.3)
/var/

# Артефакты сборки в корне
/l2login
/l2go
/l2data
/l2tap
/l2client
